<div>
  <p-treeTable [value]="metasTree" styleClass="p-treetable-sm">
    <ng-template pTemplate="caption">
      Les Metadatas :
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>directory</th>
            <th>tag</th>
            <th>valeur</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.directory}}
            </td>
            <td>{{rowData.tag}}</td>
            <td>{{rowData.valeur}}</td>
        </tr>
    </ng-template>
</p-treeTable>
</div>
