
<p-card  >
  <p-header>
    <div class="p-text-center">
      <h2>Nouvelle image</h2>
    </div>

  </p-header>
  <div class="p-grid">
    <div class="p-col-6">

      <p-panel>

      <form [formGroup]="imageForm" (ngSubmit)="ajouter()">

       <div class="p-fluid p-formgrid p-grid">
           <div class="p-col-12 p-field">
               <label for="titre">Titre</label>
               <input id="titre" type="text" formControlName="titre" pInputText>
           </div>
           <div class="p-col-12 p-field">
               <label for="sousTitre">Sous titre</label>
               <input id="soustitre" type="text" formControlName="sousTitre" pInputText>
           </div>
           <div class="p-field p-col-12">
               <label for="description">Description</label>
               <textarea id="description" type="text" rows="4" formControlName="description" pInputTextarea></textarea>
           </div>
           <div class="p-col-12 p-field-checkbox">

               <p-checkbox [(ngModel)]="checked" binary="true" inputId="binary" (onChange)="publiquefn()"formControlName="publique"></p-checkbox>
               <label for="binary">{{publique1}}</label>
           </div>
       </div>
       </form>
      </p-panel>

    </div>
    <div class="p-col-6">
      <p-fileUpload #pFileUpload name="image-file"[showUploadButton]="false"[showCancelButton]="false"
      (onUpload)="onUpload($event)" ></p-fileUpload>

    </div>
  </div>
  <p-footer >
    <div class="p-d-flex p-jc-center">
      <button pButton type="button" label="Enregistrer" (click)="ajouter()"  class="p-mr-2 p-mb-2"></button>
    <button pButton type="button" label="annuler" (click)="annuler()" class="p-mr-2 p-mb-2"></button>
    </div>
    
    
  </p-footer>
</p-card>
<div class="p-grid">
