<p-messages [severity]="severity()">
  <ng-template pTemplate>
    <div class="p-grid">
      <div class="p-col-fixed" style="width:80px">
        <div class="user"><i class="pi pi-user"> </i></div>
      </div>
      <div class="p-col p-grid">
        <div class="p-col-6 p-text-italic p-text-bold ">
          {{comment.ecritPar.nom}} {{comment.ecritPar.prenom}} ({{comment.ecritPar.uniteOrganisationnelle}})
          <button *ngIf="showEditBtn()" pButton pRipple type="button" label="Modifier"
            (click)="modifier.emit()" class="p-button-sm p-button-help p-button-text p-ml-2"></button>
          <button *ngIf="showDeleteBtn()" pButton pRipple type="button" label="Supprimer"
          (click)="supprimerButtonAction()" class="p-button-sm p-button-danger p-button-text p-ml-2"></button>
        </div>
        <div class="p-col-6 p-text-right p-text-italic p-text-bold " style="font-size: 0.7rem;">
          le {{comment.date}}
        </div>
        <div *ngIf="showAction()" class="p-col-12  p-text-bold p-mt-0 p-pt-0" style="font-size: 0.9rem;">
          {{actionText()}}
        </div>
        <div class="p-col-12 text ">
          {{comment.commentaire}}
        </div>
      </div>
    </div>
  </ng-template>
</p-messages>
